{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div id="donor" class="col-md-6 offset-md-3 register shadow-lg my-3">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    {{form | crispy}}
                </div>
                <div class="form-group">
                    <button type= "submit" class="btn btn-outline-success btn-sm">Log in</button>
                </div>
            </form>
            <div class="pt-3 links">
                <small class="text-muted">Need an account? <a href="{% url 'reg-donor'%}" class="btn btn-sm btn-warning">Register </a></small>

                <small><span class="text-dark">Forgot password?</span> <a href="{% url 'password_reset' %}" class=" btn btn-danger btn-sm">Reset Password </a></small>

            </div>
        </div>
    </div>
        
{% endblock %}