{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 register">
            <div class="card shadow" style="margin-top: 5%;">
                <div class="container">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4 class="mb-4 text-center">Register NGO</h4>
                            <hr>
                            <div class="form-group">
                                    {{ form.username|as_crispy_field }}
                            </div>

                            <div class="form-group">
                                    {{ form.email|as_crispy_field }}
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.url|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.location|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.phonenumber|as_crispy_field }}

                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.image|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.password1|as_crispy_field }}

                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                           <div class="row">
                            <button type= "submit" class="btn btn-sm btn-outline-info">Register NGO</button>
                            <small class="text-muted"><a href="{% url 'login' %}" class="btn btn-sm btn-outline-success">Login</a></small>
                           </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        
    </div>
{% endblock %}