{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="ngo2">
    <div class="row content-section">
    
        <div class="col-sm-12" id="ngo">
            <div class="media" style="width: 61%; margin:1em auto;" >
                {% if ngo.image %}
                    <img src="{{ngo.image.url}}" alt="{{user.username}}" class="rounded-circle img-responsive" width="190" height="180">
                        {%else%}
                        <img src="../media/user.svg" alt="{{user.username}}" class="account-img" width="20%" height="20%">
                {% endif %}
                <div class="media-body" style="margin-left: 1em;">
                    <h5 class="account-heading">{{user.username}}</h5>
                    <p class="text-secondary">{{user.email}}</p>
                </div>
            </div>
            <div class ="shadow-lg" style="width: 60%; margin:0 auto" id="ngo1">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5 class="text-center">Update NGO Profile Info</h5>
                        {{profile_form | crispy}}
                    </div>
                    <div class="form-group mt-0">
                        <button type= "submit" class="btn btn-outline-dark">Update</button>
                    </div>
                </form>   
            </div>
                     
        </div>
        
    </div>
    <div class="row">  
        <div class="col-sm-12">
            <h5>Donations made</h5>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Donor</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Nature</th>
                  </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr>
                            <td>{{donation.donor}}</td>
                            <td>{{donation.amount}}</td>
                            
                        </tr>
                  {% endfor %}                  
                </tbody>
              </table>
        </div>
    </div>
</div>    
    
{% endblock %}