{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-12 content">

    <ul class="nav nav-pills" id="pills-tab" role="tablist" style="text-align:center;">
        <li class="nav-item" role="presentation">
            <a class="nav-link active"  href="{% url 'reg-ngo' %}">NGO</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " href="{% url 'reg-donor' %}">Donor</a>
        </li>            
        </ul>
        
</div>    
<div class="row" id="pills-donor">
    <div class="col-sm-12">
        <div class="col-md-6 offset-md-3 shadow-lg" >
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">                    
                        <h4 class="mb-4 text-center">Register Donor</h4>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.firstname|as_crispy_field }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.lastname|as_crispy_field }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.username|as_crispy_field }}
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.phonenumber|as_crispy_field }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.password2|as_crispy_field }}
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <figure class="row">
                            <button type="submit" class="btn btn-sm btn-outline-info">Create account</button>
                            <small class="text-muted"><a href="{% url 'login' %}"
                                class="btn btn-sm btn-outline-success">Login</a></small>
                        </figure>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
    
{% endblock %}