{% extends 'base.html' %}

{% load static %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<div id="admin">
    <div class="row" id="admin1">
        <h4>Dashboard</h4>

    </div>
    <div class="btn btn-warning">
            <a href="{% url 'add-category' %}" >Add Category</a>
    </div>
    <div class="row">


           <p>
            {% for category in categories %}
                <figure class="row">
                    <ul>
                        <li class="btn btn-outline-success btn-sm">{{category.name}}</li>
                    </ul>
                </figure>
            {% endfor %}
           </p>

        <div class="col-sm-12">

            <h5 class="text-center">Donation Requests</h5>
            <table class="table table-bordered">
                <thead class="black white-text text-monospace text-uppercase">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">NGO</th>
                    <th scope="col">Target</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr>
                            <th scope="row">{{donation.id}}</th>
                            <td>{{donation.name}}</td>
                            <td>{{donation.description}}</td>
                            <td>{{donation.ngo.name}}</td>
                            <td>{{donation.target}}</td>
                            <td>
                                {% if donation.status == False %} 
                                    <a href="{% url 'approve_request' donation.id %}" class="btn ntn-md btn-outline-danger">Not Approved</a>
                                {% else %}
                                    <button class="btn btn-md btn-outline-success">Approved</button>
                                {% endif %}
                            </td>
                        </tr>
                  {% endfor %}                  
                </tbody>
              </table>
        </div>
        
    </div>

</div>
{% endif %}

{% endblock %}