{%extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="wrapper" id="content">

        <div class="form-data form-data-prof">
            <form  action="{%url 'donation_form'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <h2 class="intro">Fill out this form if you want to donate to an NGO</h2>
                {{ form|crispy}}
                <button class="form-btn" type="submit">Donate</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}